# PrestaShop Configuration Example

# Database Credentials
DB_SERVER=localhost
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password

# Shop Settings
PS_SHOP_NAME="Your Shop Name"
PS_SHOP_EMAIL="your_email@example.com"
PS_SHOP_URL="http://your-shop-url.com"

# Admin Details
ADMIN_FIRSTNAME="AdminFirstName"
ADMIN_LASTNAME="AdminLastName"
ADMIN_EMAIL="admin_email@example.com"
ADMIN_PASSWORD="admin_password"